html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a{
    color:black;
    font-size: 24px;
}
a:hover{
    color: rgb(212, 118, 3);
}
header{
    font-size: 48px;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #dfd5d5;
    gap: 50px;
    height: 100vh;
}

main{
    background-color: black;
    width: 300px;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
}
footer{
    padding: 30px;
    font-weight: 600;
    font-size: 22px;
}

button{
    background-color: rgba(58, 58, 58, 0.671);
    color: white;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    font-size: 30px;
}

.operator{
    background-color: orange;
}

button.operator:hover{
    background-color: white;
    color: orange;
}

.special{
    background-color: rgb(138, 138, 138);
    color: black;
}


button.special:hover{
    background-color: rgb(221, 221, 221);
}

button:hover{
    background-color: darkgrey;
}

.zero{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    grid-column: span 2;
}

.calc{
    display: flex;
    flex-direction: column;
}

.num-display{
    text-align: right;
    font-size: 44px;
    padding: 0;
    margin: 0;
    color: white;
    margin: 10px;
}
.button-grid{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}